body{
    background-color: rgb(137, 193, 229);
    margin: 0;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quadrado{ 
    background-color: white;
    padding: 40px;
    width: 450px;
    border-radius: 10px;
    border: 5px black solid;
    box-shadow: 2px 7px 47px 5px rgba(0,0,0,0.4);
    font-family: 'Courier New';
}

button{
    background-color: gray;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.5s;
}

button:hover{
    background-color: green;
}